<div class="container">
  <h2 style="text-align:center;border-bottom:solid 1px #eee">Nos Partenaires</h2>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div id="Carousel" class="carousel slide">

        <ol class="carousel-indicators">
          <li data-target="#Carousel" data-slide-to="0" class="active"></li>
          <li data-target="#Carousel" data-slide-to="1"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="row">
              <div class="col-md-4 col-xs-4"><a href="#" class="thumbnail"><img src="/img/patnerlogos/dd.jpeg"
                    alt="Image" style="max-height:80px;"></a></div>
              <div class="col-md-4 col-xs-4"><a href="#" class="thumbnail"><img src="/img/patnerlogos/krist.jpeg"
                    alt="Image" style="max-height:80px;"></a></div>
              <div class="col-md-4 col-xs-4"><a href="#" class="thumbnail"><img src="/img/patnerlogos/lamami.jpeg"
                    alt="Image" style="max-height:80px;"></a></div>

            </div>
          </div>
          <div class="item">
            <div class="row">

              <div class="col-md-4 col-xs-4"><a href="#" class="thumbnail"><img src="/img/patnerlogos/mercury.png"
                    alt="Image" style="max-height:80px;"></a></div>
              <div class="col-md-4 col-xs-4"><a href="#" class="thumbnail"><img src="/img/patnerlogos/bkvoyages.jpeg"
                    alt="Image" style="max-height:80px;"></a></div>
              <div class="col-md-4 col-xs-4"><a href="#" class="thumbnail"><img src="/img/patnerlogos/cbcc.jpeg"
                    alt="Image" style="max-height:80px;"></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#Carousel').carousel({
      interval: 3000
    })
  });
</script>