<div class="container">
<h2 style="text-align:center;border-bottom:solid 1px #eee">Nos Partenires</h2>
    <div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="Carousel" class="carousel slide">
                 
                <ol class="carousel-indicators">
                    <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#Carousel" data-slide-to="1"></li>
                    <li data-target="#Carousel" data-slide-to="2"></li>
                </ol>
                  <!-- Carousel items -->
                <div class="carousel-inner">                 
                <div class="item active">
                 <div class="row">
                   <div class="col-md-2 col-xs-4"><a href="#" class="thumbnail"><img src="https://tmaxtech.co.th/images/Partner/13.png" alt="Image" style="max-height:80px;"></a></div>
                   <div class="col-md-2 col-xs-4"><a href="#" class="thumbnail"><img src="https://tmaxtech.co.th/images/Partner/14.jpg" alt="Image" style="max-height:80px;"></a></div>
                   <div class="col-md-2 col-xs-4"><a href="#" class="thumbnail"><img src="https://tmaxtech.co.th/images/Partner/15.png" alt="Image" style="max-height:80px;"></a></div>
                   <div class="col-md-2 col-xs-4"><a href="#" class="thumbnail"><img src="https://tmaxtech.co.th/images/Partner/16.png" alt="Image" style="max-height:80px;"></a></div>
                   <div class="col-md-2 col-xs-4"><a href="#" class="thumbnail"><img src="https://tmaxtech.co.th/images/Partner/1.jpg" alt="Image" style="max-height:80px;"></a></div>
                   <div class="col-md-2 col-xs-4"><a href="#" class="thumbnail"><img src="https://tmaxtech.co.th/images/Partner/2.jpg" alt="Image" style="height:80px;"></a></div>
                 </div>
                </div>
  </div>
 </div>
</div>
 </div>
</div>

<script>
$(document).ready(function() {
    $('#Carousel').carousel({
        interval: 3000
    })
});
</script>