<footer class="container-fluid">

	<div class="container margin_60_35">
		<div class="row ">
			<div class="col-md-5 col-sm-3">
				<h3>Navigation</h3>
				<ul>
					<li><a href="/">Accueil</a></li>
					<li><a href="/réalisations">Nos réalisation</a></li>
					<li><a href="/comptabilite">Comptabilité</a></li>
					<li><a href="/offres-emploi">Offres</a></li>
					<li><a href="/candidatures">Candidatures</a></li>
				</ul>
			</div>
			<div class="col-md-6 col-sm-3" id="contact_bg">
				<h3>Contacts</h3>
				<ul id="contact_details_footer">
					<li id="address_footer">Montée anne rouge, immeuble conectick - BP: Yaoundé<br>Cameroun, NIU
						P058712725057N</li>
					<li id="phone_footer">+237 697 18 18 57</li>
					<li id="email_footer">hopeconsulting08@gmail.com</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="copy">
		<div class="container">
			© Mercury Tech 2020 - Tous les droits réservés.
		</div>
	</div>
</footer><!-- End footer -->
<!-- COMMON SCRIPTS -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="/js/jquery-2.2.4.min.js" defer></script>
<script src="/js/common_scripts.js" defer></script>
<script src="/js/header_sticky_1.js" defer></script>
<script src="/js/functions.js" async></script>
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js" async></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" async></script>
<script src="/layerslider/js/greensock.js" async></script>
<script src="/layerslider/js/layerslider.transitions.js" async></script>
<script src="/layerslider/js/layerslider.kreaturamedia.jquery.js" async></script>
<script src="/js/slider_func.js" async></script>
<script src="/js/search.js" defer></script>
<script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>
<script src="/js/infinite-scroll.js"></script>
</body>