<footer class="container-fluid">

	<div class="container margin_60_35">
		<div class="row ">
			<div class="col-xs-12 col-md-5 col-sm-5">
				<h3>Navigation</h3>
				<ul>
					<li><a href="/">Accueil</a></li>
					<li><a href="/réalisations">Nos réalisation</a></li>
					<li><a href="/comptabilite">Comptabilité</a></li>
					<li><a href="/offres-emploi">Offres</a></li>
					<li><a href="/candidatures">Candidatures</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-md-5 col-sm-5" id="contact_bg">
				<h3>Contacts</h3>
				<ul id="contact_details_footer">
					<li id="address_footer">Montée anne rouge, immeuble conectick - BP: Yaoundé<br>Cameroun, NIU
						P058712725057N</li>
					<li id="phone_footer">+237 697 18 18 57</li>
					<li id="email_footer">hopeconsulting08@gmail.com</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="copy">
		<div class="container">
			© Mercury Tech 2020 - Tous les droits réservés.
		</div>
	</div>
</footer><!-- End footer -->
<!-- COMMON SCRIPTS -->
<script src="/js/jquery-2.2.4.min.js"></script>
{{!--
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> --}}
<script src="/js/functions.js"></script>
<script src="/js/slider_func.js"></script>
<script src="/js/common_scripts.js" defer></script>
<script src="/js/header_sticky_1.js" defer></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" defer></script>
<script src="/layerslider/js/greensock.js"></script>
<script src="/layerslider/js/layerslider.transitions.js"></script>
<script src="/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
<script src="/js/search.js"></script>
</body>