<footer class="container-fluid">

	<div class="container margin_60_35">
		<div class="row ">
			<div class="col-md-5 col-sm-3">
				<h3>Navigation</h3>
				<ul>
					<li><a href="/">Accueil</a></li>
					<li><a href="/réalisations">Nos réalisation</a></li>
					<li><a href="/comptabilite">Comptabilité</a></li>
					<li><a href="/offres-emploi">Offres</a></li>
					<li><a href="/candidatures">Candidatures</a></li>
				</ul>
			</div>
			<div class="col-md-6 col-sm-3" id="contact_bg">
				<h3>Contacts</h3>
				<ul id="contact_details_footer">
					<li id="address_footer">Montée anne rouge, immeuble conectick - BP: Yaoundé<br>Cameroun, NIU
						P058712725057N</li>
					<li id="phone_footer">+237 697 18 18 57</li>
					<li id="email_footer">hopeconsulting08@gmail.com</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="copy">
		<div class="container">
			© Mercury Tech 2020 - Tous les droits réservés.
		</div>
	</div>
</footer><!-- End footer -->
<!-- COMMON SCRIPTS -->
<script src="/js/jquery-2.2.4.min.js" defer></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="/js/slider_func.js"></script>
<script src="/js/common_scripts.js" defer></script>
<script src="/js/header_sticky_1.js" defer></script>
<script src="/js/functions.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" defer></script>
<script src="/layerslider/js/greensock.js"></script>
<script src="/layerslider/js/layerslider.transitions.js"></script>
<script src="/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
<script src="/js/search.js"></script>
</body>

{{!-- {"_id":{"$oid":"5ffee9449874058ed1d50694"},"date":{"$date":{"$numberLong":"1610538410037"}},"nom":"Fonou
Michele-Ange","telephone":"693515268","email":"fonoumicheleange@gmail.com","desciption":"Je suis étudiante en 2e année
biologie, je cherche un travail pour pouvoir subvenir à mes besoins. Je parle couramment français, anglais passable, je
suis dynamique et prête à vous servir. J'ai une expérience en tant que rayonniste à Dovv","__v":{"$numberInt":"0"}}

{"_id":{"$oid":"5ffec40e971e8d2ab2062722"},"date":{"$date":{"$numberLong":"1610526305539"}},"nom":"Ghislaine
Belinga","telephone":"673517940","email":"ghislainebelinga4@email.com","desciption":"Je suis étudiante en gestion des
ressources humaines première année.je cherche un travail pour pouvoir subvenir à mes besoins.je suis motivée et
dynamique.disponible et respectueuse.je parle et écris bien français.j'ai une expérience en mercatique en tant que
gestionnaire de stock.","__v":{"$numberInt":"0"}}

{"_id":{"$oid":"5fff028cc85aab4c52f817e9"},"date":{"$date":{"$numberLong":"1610547328089"}},"nom":"Nono yankou Gisèle
","telephone":"653428450","email":"nonogisele@yahoo.com","desciption":"Monsieur, je suis une jeune camerounaise diplômé
de l'institut supérieur matamfen en comptabilité et gestion des entreprises. Je possède une expérience professionnelle
en plusieurs domaines. Suis disponible à tout moment pour vous fournir les documents nécessaires.
","__v":{"$numberInt":"0"}}

{"_id":{"$oid":"5fff147dd6ec03590a5c99e9"},"date":{"$date":{"$numberLong":"1610551850800"}},"nom":"Rimoh
rebecca","telephone":"690470793","email":"nadiarimoh2017@gmail.com","desciption":"Je m'appelle Rebecca RIMOH, j'ai
21ans, célibataire sans enfant, diplômée d'une licence en administration et gestion des entreprises à l'Université de
Yaoundé 2. Je recherche un travail me permettant de faire mes preuves dans le monde professionnel et je puis vous
assurer que mon manque d'expérience dans le domaine n'entame en rien ma crédibilité à vous donner
satisfaction.","__v":{"$numberInt":"0"}}
{"_id":{"$oid":"5fff20c1871754fbdec134dd"},"date":{"$date":{"$numberLong":"1610554456904"}},"nom":"Fokam Tabue Faustine
Felicite ","telephone":"691708070","email":"soniafokam3@gmail.com","desciption":"Bonjour monsieur je me nomme Fokam
Tabue Faustine et suis ingénieur en systèmes et réseaux et ayant un master 1 génie informatique et telecom. Actuellement
en fonction dans une entreprise de la place comme assistante marketing et secrétaire mais j’aimerais postuler dans votre
entreprise en tant que agent marketing ou Sécrétaire.\r\n ","__v":{"$numberInt":"0"}} --}}