<section class="parallax_window_in short" data-parallax="scroll"
	data-image-src="img/pexels-sevenstorm-juhaszimrus-443383.jpg" data-natural-width="1400" data-natural-height="400">
	<div id="sub_content_in">
		<div class="container">
			<h1>Offres d'emploi</h1>
			<p>Les entreprises peuvent poster ici leurs offres d'emploi <a class="btn btn-primary"
					href="/emploi/offre/create">Cree un offre d'emploi</a></p>

		</div>
	</div>
</section><!-- End section -->

<main>
	<div class="container margin_60_35">
		<div class="row">
			{{>home/cards/emploi}}
		</div>
	</div>
</main>