
   <main>
	<div class="container margin_60">
		<div class="row">
			<div class="col-sm-6">
				<h3 class="main_title_left"><em></em>Some words about us<span>Curabitur quam etsum lacus etsumis</span></h3>
				<p class="lead styled">Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie. Sed ad debet scaevola, ne mel lorem legendos.</p>
				<p>Lorem ipsum dolor sit amet, nec ad quod quando albucius, mea te putant mediocritatem, meliore scribentur instructior id nec. Ea omittam electram eos, ad quo paulo disputando, enim iudico nec ex. Movet luptatum ea qui. Usu ei sumo accusata interpretaris.</p>
				<h4>Strategy</h4>
				<p>Ad explicari temporibus pri, quo posse albucius electram ad. An platonem scribentur mel, partem regione iuvaret et vel, cu case persecuti pro. Est ipsum dicta nostro in, pri et doming bonorum eleifend. Nec dicant possim at. Vix ex eirmod scripta electram. Eu prima laudem ius, mel ei feugiat luptatum, omittam lucilius in cum. Albucius perfecto invenire cu vim.</p>
				<h4>Mission</h4>
				<p>Ad explicari temporibus pri, quo posse albucius electram ad. An platonem scribentur mel, partem regione iuvaret et vel, cu case persecuti pro. Est ipsum dicta nostro in, pri et doming bonorum eleifend. Nec dicant possim at. Vix ex eirmod scripta electram. Eu prima laudem ius, mel ei feugiat luptatum, omittam lucilius in cum. Albucius perfecto invenire cu vim.</p>
			</div>
			<div class="col-sm-5 col-sm-offset-1">
				<img src="img/about_1.jpg" alt="" class="img-responsive">
				<img src="img/about_2.jpg" alt="" class="img-responsive">
			</div>
		</div><!--/row-->
	</div><!--/container-->

	<section class="bg_content">
		<div class="container margin_120">
			<div>
				<h3 class="main_title white"><em></em>What Clients say<span>Curabitur quam etsum lacus etsumis</span></h3>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="owl-carousel owl-theme carousel_testimonials">

								<div>
									<div class="box_overlay">
										<div class="pic">
											<figure><img src="img/testimonial_1.jpg" alt="" class="img-circle"></figure>
											<h4>Roberta<small>12 October 2015</small></h4>
										</div>
										<div class="comment">
											"Mea ad postea meliore fuisset. Timeam repudiare id eum, ex paulo dictas elaboraret sed, mel cu unum nostrud."
										</div>
									</div><!-- /box_overlay -->
								</div>

								<div>
									<div class="box_overlay">
										<div class="pic">
											<figure><img src="img/testimonial_1.jpg" alt="" class="img-circle"></figure>
											<h4>Roberta<small>12 October 2015</small></h4>
										</div>
										<div class="comment">
											"No nam indoctum accommodare, vix ei discere civibus philosophia. Vis ea dicant diceret ocurreret."
										</div>
									</div><!-- /box_overlay -->
								</div>

								<div>
									<div class="box_overlay">
										<div class="pic">
											<figure><img src="img/testimonial_1.jpg" alt="" class="img-circle"></figure>
											<h4>Roberta<small>12 October 2015</small></h4>
										</div>
										<div class="comment">
											"No nam indoctum accommodare, vix ei discere civibus philosophia. Vis ea dicant diceret ocurreret."
										</div>
									</div><!-- /box_overlay -->

								</div>
							</div><!-- /carousel_testimonials -->

						</div><!-- /col-md-8 -->
					</div><!-- /row -->
				</div><!-- /container -->
			</div><!-- /promo_full_wp -->
		</div><!-- /promo_full -->
	</section><!-- /section -->

	<div class="bg_white">
		<div class="container margin_60_35">
			<h3 class="main_title">Meet the Staff</h3>
			<p class="lead styled center">
				Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie. Sed ad debet scaevola, ne mel lorem legendos.
			</p>
			<!--Team Carousel -->
			<div class="row">
				<div class="owl-carousel owl-theme case_studies">

					<div class="team-item">
						<div class="team-item-img">
							<img src="img/team/team-1.jpg" alt="">
							<div class="team-item-detail">
								<div class="team-item-detail-inner">
									<h4>Mitchell Young</h4>
									<p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
									<ul class="social">
										<li><a href="#0"><i class="icon-facebook"></i></a>
										</li>
										<li><a href="#0"><i class="icon-twitter"></i></a>
										</li>
										<li><a href="#0"><i class="icon-google"></i></a>
										</li>
										<li><a href="#0"><i class="icon-linkedin"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="team-item">
						<div class="team-item-img">
							<img src="img/team/team-2.jpg" alt="">
							<div class="team-item-detail">
								<div class="team-item-detail-inner">
									<h4>Ronald Green</h4>
									<p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
									<ul class="social">
										<li><a href="#0"><i class="icon-facebook"></i></a>
										</li>
										<li><a href="#0"><i class="icon-twitter"></i></a>
										</li>
										<li><a href="#0"><i class="icon-google"></i></a>
										</li>
										<li><a href="#0"><i class="icon-linkedin"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="team-item">
						<div class="team-item-img">
							<img src="img/team/team-3.jpg" alt="">
							<div class="team-item-detail">
								<div class="team-item-detail-inner">
									<h4>Carl Peppard</h4>
									<p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
									<ul class="social">
										<li><a href="#0"><i class="icon-facebook"></i></a>
										</li>
										<li><a href="#0"><i class="icon-twitter"></i></a>
										</li>
										<li><a href="#0"><i class="icon-google"></i></a>
										</li>
										<li><a href="#0"><i class="icon-linkedin"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="team-item">
						<div class="team-item-img">
							<img src="img/team/team-4.jpg" alt="">
							<div class="team-item-detail">
								<div class="team-item-detail-inner">
									<h4>Sandra Bullock</h4>
									<p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
									<ul class="social">
										<li><a href="#0"><i class="icon-facebook"></i></a>
										</li>
										<li><a href="#0"><i class="icon-twitter"></i></a>
										</li>
										<li><a href="#0"><i class="icon-google"></i></a>
										</li>
										<li><a href="#0"><i class="icon-linkedin"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div><!--/Team Carousel-->
		</div><!-- /container -->
	   </div><!-- /bg_white  -->
	</main><!--/main-->