<section class="parallax_window_in short" data-parallax="scroll" data-image-src="img/subheader_in_1.jpg"
	data-natural-width="1400" data-natural-height="400">
	<div id="sub_content_in">
		<div class="container">
			<h1>Comptabilité</h1>
			<p>Nos tarifs en matière de suivi fiscal et comptable</p>
		</div>
	</div>
</section><!-- End section -->

<main>
	<div class="bg_white">
		<div class="container margin_60_35">
			<div class="add_bottom_30">
				<h2 class="main_title"><em></em>Description</h2>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="box_faq">
						<i class="icon_info_alt"></i>
						<p>Nos tarifs en matière de suivi fiscal et comptable : Pour avoir une bonne visibilité sur vos
							états chiffrés.</p>
						<p>Bénéficiez d’un suivi comptable et fiscal, efficace, complète et sur mesure avec Notre équipe
							qui vous accompagne et vous conseil afin d’améliorer votre visibilité, votre clairvoyance
							sur vos activités et la facilitation de la prise de bonne décisions au sein de votre
							entreprise.</p>
					</div>
				</div>
			</div><!-- /row  -->
		</div><!-- /row  -->
	</div>
	</div>
	<div class="container margin_60">
		<h2 class="main_title"><em></em>Découvrez nos tarifs</h2>

		<div class="pricing-container with-margins">
			<ul class="pricing-list">
				<li class="col-sm-5">
					<div class="pricing-header">
						<h2>Libellé</h2>
					</div>
					<!-- .pricing-header -->
					<div class="pricing-body">
						<ul class="pricing-features">
							<li>Déclaration mensuel /régime réel</li>
							<li>Déclaration mensuel /régime simplifié</li>
							<li>Suivi fiscal administratif / régime réel</li>
							<li>Suivi fiscal administratif/ régime simplifié</li>
							<li>Montage DSF / régime réel</li>
							<li>Montage DSF régime simplifié</li>
							<li>Traitement des dossiers d’importation</li>
							<li>Mission d’audit</li>
							<li>Remboursement crédit tva</li>
							<li>Télé déclaration et suivi social</li>
							<li>Montage bilan bancaire</li>
							<li>Création d’entreprise</li>
							<li>Placement intérimaire</li>
							<li>Montage business plan</li>
						</ul>
					</div>
					<!-- .pricing-body -->

					<!-- .pricing-footer -->
				</li>
				<li class="col-sm-5">
					<div class="pricing-header">
						<h2>Tarifs</h2>
					</div>
					<!-- .pricing-header -->
					<div class="pricing-body">
						<ul class="pricing-features">
							<li>55 000frs</li>
							<li>30 000frs</li>
							<li>30 000frs</li>
							<li>15 000frs</li>
							<li>90 000frs</li>
							<li>60 000frs</li>
							<li>50 000frs</li>
							<li>200 000frs / année auditée</li>
							<li>Pourcentage</li>
							<li>30 000frs</li>
							<li>100 000frs</li>
							<li>50 000frs</li>
							<li>20 000frs</li>
							<li>15 000frs</li>
						</ul>
					</div>
					<!-- .pricing-body -->
					<!-- .pricing-footer -->
				</li>
			</ul>
			<!-- .pricing-list -->
		</div>
		<!-- .cd-pricing-container -->
	</div>
</main>

<div class="bg_content">
	<div class="container margin_120">
		<h2 class="main_title"><em></em>Placements intérimaires</h2>
		<p>Nous rapprochons les entreprises de la main d'oeuvre dont ils ont besoin.</p>
		<div id="message-analysis"></div>
		<div class="row text-center">
			<a class="btn_1 col-sm-5" href="/offres-emploi">Offre</a>
			<span class="col-sm-2"></span>
			<a class="btn_1 col-sm-5" href="/candidatures">Candidature</a>
		</div>
	</div>
</div><!-- /newsletter_container -->