<section class="parallax_window_in short" data-parallax="scroll"
	data-image-src="img/pexels-sevenstorm-juhaszimrus-443383.jpg" data-natural-width="1400" data-natural-height="400">
	<div id="sub_content_in">
		<div class="container">
			<h1>Candidature</h1>
			<p>Quelques détails sur le postulant que vous avez choisi</p>
		</div>
	</div>
</section><!-- End section -->

<main>
	<div class="container margin_60_35">
		<div class="row">
			<div class="col-lg-9">
				<div class="bloglist singlepost">
					<p><img alt="" class="img-responsive" src="img/blog_post.jpg"></p>
					<h2>Intitulé du poste</h2>
					<div class="postmeta">
						<ul>
							<li><a href="#"><i class="icon_clock_alt"></i> 23/12/2020</a></li>
							<li><a href="#"> Nom de l'entreprise</a></li>
						</ul>
					</div>
					<!-- /post meta -->
					<div class="post-content">
						<p>
							Description du poste (Community manager) <br>
							————————-
							– Développer une stratégie de contenu, gérer les calendriers éditoriaux sur les réseaux
							<br>
							sociaux et sur le site web;<br>
							– Rédiger des publications et créer du contenu exclusif à diffuser: Contenu, photos,
							vidéos, et campagnes publicitaires variés en lien avec notre marché cible;<br>
							– Agir à titre d’ambassadeur de l’entreprise et répondre aux commentaires avec beaucoup de
							politesse et tacts;<br>
							– Rester à l’affût des tendances et des meilleures pratiques en matière de contenu et
							<br>
							médias sociaux; <br>
						</p>
					</div>
					<!-- /post -->
				</div>
			</div>
			<!-- /col -->

		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</main>
<!--/main-->