	<main>
		<div id="full-slider-wrapper">
			<div id="layerslider" style="width:100%;height:600px;">
				<!-- first slide -->
				<div class="ls-slide" data-ls="slidedelay: 5000; transition2d:85;">
					<img src="img/slides/slide_1.jpeg" class="ls-bg" alt="Slide background">
					<h3 class="ls-l slide_typo" style="top: 45%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">Travaillez avec des experts</h3>
					<p class="ls-l slide_typo_2" style="top:55%; left:50%;" data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;">
						"Travaillons ensemble"
					</p>
				</div>
				<!-- second slide -->
				<div class="ls-slide" data-ls="slidedelay:5000; transition2d:103;">
					<img src="img/slides/slide_2.jpeg" class="ls-bg" alt="Slide background">
					<h3 class="ls-l slide_typo" style="top: 45%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">Des solutions modernes à votre portée</h3>
					<p class="ls-l slide_typo_2" style="top:55%; left:50%;" data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;">
						"Travaillons ensemble"
					</p>
				</div>
				<!-- third slide -->
				<div class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
					<img src="img/slides/slide_3.jpeg" class="ls-bg" alt="Slide background">
					<h3 class="ls-l slide_typo" style="top:45%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">Les meilleurs en qualité de construction</h3>
					<p class="ls-l slide_typo_2" style="top:55%; left:50%;" data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;">
						"Travaillons ensemble"
					</p>
				</div>
			</div>
		</div><!-- End layerslider -->

		<div class="container margin_60_35">
			<h2 class="main_title"><em></em>Découvrez nos services</h2>
			<div class="row">
				<div class="col-sm-4">
					<a class="box_service">
						<i class="pe-7s-hammer"></i>
						<h3>Construction</h3>
						<p>Nous vous aidons à réaliser vos travaux de construction immobilière.</p>
					</a>
				</div>
				<div class="col-sm-4">
					<a class="box_service">
						<i class="pe-7s-map-2"></i>
						<h3>Recherche de terrain</h3>
						<p>Nous vous proposons des terrains aux meilleurs prix</p>
					</a>
				</div>
				<div class="col-sm-4">
					<a class="box_service">
						<i class="pe-7s-home"></i>
						<h3>Ventes/Achats immobiliers</h3>
						<p>Sur cette plateforme vous avez la possibilité de vendre ou acheter des biens immobiliers.</p>
					</a>
				</div>
			</div>
			<!--/row-->
		</div>
		<!--/container-->
		<div class="bg_white">
			<div class="container margin_60_0">
				<div class="row">
					<div class="col-md-5">
						<h3 class="main_title_left"><em></em>Nos missions</h3>
						<p class="lead styled">Nous avons des atouts qui nous permettent de nous différencier des autres entreprises.</p>
						<ul class="list_ok">
							<li>
								<h4>La qualité de nos services</h4>
								<p>Nous offrons des services de qualité avant, pendant, et après vente. L'accompagnement et la
									garanti des services pour tous en tenant compte du porte feuille du client, est notre priorité.</p>
							</li>
							<li>
								<h4>La fidélisation du client</h4>
								<p>Les clients peuvent venir chez nous en toute confiance. Notre politique de fidélisation du client basée sur
									la proximité et la confiance, le prix concurrentiel, négociable, définissent notre expertise et professionnalisme.</p>
							</li>
						</ul>
					</div>
					<div class="col-md-6 rounded col-md-offset-1 hidden-sm hidden-xs">
						<img width="90%" style="border-radius: 10px;" src="img/screen_home.jpeg" alt="" class="rounded img-responsive">
						<br>
						<h3 class="text-center">PDG DE HOPE CONSULTING</h3>
						<br>
						<br>
					</div>
				</div><!--/row-->
			</div><!--/container-->
		</div>
		<br>
		<div class="bg_content">
			<div class="container margin_120">
				<h2 class="main_title"><em></em>Placements intérimaires</h2>
				<p>Nous rapprochons les entreprises de la main d'oeuvre dont elles ont besoin.</p>
				<div id="message-analysis"></div>
				<div class="row text-center">
					<a class="btn_1 col-sm-5" href="/offres-emploi">Offre</a>
					<span class="col-sm-2"></span>
					<a class="btn_1 col-sm-5" href="/candidatures">Candidature</a>
				</div>
			</div>
		</div>
	</main>