<section class="parallax_window_in short" data-parallax="scroll" data-image-src="img/subheader_in_3.jpg"
	data-natural-width="1400" data-natural-height="400">
	<div id="sub_content_in">
		<div class="container">
			<h1>Nos plans et dessins</h1>
			<p>Les plans et les dessins sont tres importants dans nos realisations</p>
		</div>
	</div>
</section><!-- End section -->

<main>
	<div class="container margin_60">
		<h2 class="main_title"><em></em>Voici quelques uns</h2>
		<div class="grid">
			<ul class="magnific-gallery">
				{{#each planEtDessin}}
				<li>
					<figure>
						<img width="100%" src="/uploads/{{image}}" alt="">
						<figcaption>
							<div class="caption-content">
								<a href="/uploads/{{image}}" title="Photo title" data-effect="mfp-zoom-in">
									<i class="pe-7s-albums"></i>
									<p>{{nom}}</p>
								</a>
							</div>
						</figcaption>
					</figure>
				</li>
				{{/each}}
			</ul>
		</div>
		<!-- /grid gallery -->
	</div>
	<!--/container-->
</main>
<!--/main-->

<div class="bg_content">
	<div class="container margin_120">
		<h2 class="main_title"><em></em>Placements intérimaires</h2>
		<p>Nous rapprochons les entreprises de la main d'oeuvre dont ils ont besoin.</p>
		<div id="message-analysis"></div>
		<div class="row text-center">
			<a class="btn_1 col-sm-5" href="/offres-emploi">Offres</a>
			<span class="col-sm-2"></span>
			<a class="btn_1 col-sm-5" href="/candidatures">Candidatures</a>
		</div>
	</div>
</div>