	<section class="parallax_window_in short" data-parallax="scroll" data-image-src="img/subheader_in_1.jpg" data-natural-width="1400" data-natural-height="400">
		<div id="sub_content_in">
			<div class="container">
				<h1>Project detail</h1>
				<p>"Usu habeo equidem sanctus no ex melius"</p>
			</div>
		</div>
	</section><!-- /section -->
 	
    <div id="position">
		<div class="container">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Category</a></li>
				<li>Page active</li>
			</ul>
		</div>
	</div><!-- /position -->
    
    <main>
	<div class="container margin_60_35">
    	<h2 class="main_title"><em></em>Overview</h2>
        <p class="lead styled center">
			Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie. Sed ad debet scaevola, ne mel lorem legendos.
		</p>
        <div class="row">
        	<div class="col-md-8 col-md-offset-2">
				<div class="owl-carousel owl-theme carousel_project add_bottom_30">
					<div>
						<figure><img src="img/project_1.jpg" alt=""></figure>
					</div>
					<div>
						<figure><img src="img/project_2.jpg" alt=""></figure>
					</div>
					<div>
						<figure><img src="img/project_3.jpg" alt=""></figure>
					</div>
				</div><!--/carousel_project -->
            </div><!--/col--> 
        </div><!--/row--> 
        
        <div class="row">
        	<div class="col-sm-6">
            	<h3 class="nomargin_top">Additional info</h3>
                <p>Per at cetero omnesque, et elit essent oporteat pro. Ad postea eruditi dignissim usu. Ne phaedrum recusabo cum. Ne graeci invenire partiendo est, labores mandamus sapientem est eu, vis id viderer detraxit neglegentur. An causae oblique perfecto eum, viris bonorum pri ea.</p>
                    <p>Lorem ipsum dolor sit amet, qui cu case habeo. Oportere indoctum interpretaris ex vix. Iracundia efficiantur eum an, vel semper nominavi at. Intellegat neglegentur qui an, ad omnes tollit periculis nec. Ut laudem noster maiorum sit, id veritus recteque vel, an saperet tincidunt qui.</p>

            </div>
            <div class="col-sm-6">
            	<ul class="list_features">
					<li>
						<i class="icon_genius"></i>
                		<h4>Suas summo id sed erat erant oporteat</h4>
                    	<p>Ut unum diceret eos, mel cu velit principes, ut quo inani dolorem mediocritatem. Mea in justo posidonium necessitatibus.</p>
                    </li>
                    <li>
                       <i class="icon_desktop"></i>
                	   <h4>Illud singulis indoctum ad sed</h4>
                    <p>Ut unum diceret eos, mel cu velit principes, ut quo inani dolorem mediocritatem. Mea in justo posidonium necessitatibus.</p>
                    </li>
                    <li>
                       <i class="icon_piechart"></i>
                	   <h4>Alterum bonorum mentitum an mel</h4>
                       <p>Ut unum diceret eos, mel cu velit principes, ut quo inani dolorem mediocritatem. Mea in justo posidonium necessitatibus.</p>
                    </li>
                </ul>
            </div>
        </div>
        
    </div><!--/container-->
    
    <div class="bg_content" id="skills">
            <div class="container margin_120_95">
               <div class="row">
               		<div class="col-sm-6">
						<div class="content_center">
                        	<h3><em></em>Goals Reached</h3>
                       	<p class="lead">Augue honestatis vis no, ius quot mazim forensibus in, per sale virtute legimus ne.</p>
                        <p>Illud singulis indoctum ad sed, sed falli aliquip dolorem an. Tempor nonumes torquatos ne nec, an eum case cetero dissentiunt. Alterum bonorum mentitum an mel, eam dictas adipisci ad, omnes civibus sententiae no eos.</p>
                        </div>
                      
                    </div>
                    <div class="col-sm-5 col-sm-offset-1 add_top_20">
						
					<div class="barWrapper">
						<span class="progressText"><B>Marketing Strategy</B></span>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
								<span class="popOver" data-toggle="tooltip" data-placement="top" title="85%"> </span>
							</div>
						</div>
					</div>
					<!--/bar-->

					<div class="barWrapper">
						<span class="progressText"><B>Target success</B></span>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
								<span class="popOver" data-toggle="tooltip" data-placement="top" title="95%"> </span>
							</div>
						</div>
					</div>
					<!--/bar-->

					<div class="barWrapper">
						<span class="progressText"><B>Traffic increase</B></span>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
								<span class="popOver" data-toggle="tooltip" data-placement="top" title="80%"> </span>
							</div>
						</div>
					</div>
					<!--/bar-->

					<div class="barWrapper">
						<span class="progressText"><B>Marketing campaigns</B></span>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
								<span class="popOver" data-toggle="tooltip" data-placement="top" title="70%"> </span>
							</div>
						</div>
					</div>
					<!--/bar-->
						
                    </div>
               </div><!--/row-->
            </div><!--/container-->
        </div>  <!--/bg_content-->
      
    <div class="container margin_60_35">
        	<h3 class="main_title_left"><em></em>Related case studies<span>Curabitur quam etsum lacus etsumis</span></h3>          
			<div class="owl-carousel owl-theme case_studies add_bottom_30">

				<div>
					<a href="project-detail.html" title="Building Plan">
						<figure><img src="img/case_study_thumb_1.jpg" alt=""> </figure>
						<h4>Building Plan</h4>
						<p>Consulting</p>
					</a>
				</div>

				<div>
					<a href="project-detail.html" title="Business Area">
						<figure><img src="img/case_study_thumb_2.jpg" alt=""> </figure>
						<h4>Business Area</h4>
						<p>Consulting</p>
					</a>
				</div>

				<div>
					<a href="project-detail.html" title="Project Marketing">
						<figure><img src="img/case_study_thumb_3.jpg" alt=""> </figure>
						<h4>Project Marketing</h4>
						<p>Consulting</p>
					</a>
				</div>

				<div>
					<a href="project-detail.html" title="Logistic Plan">
						<figure><img src="img/case_study_thumb_4.jpg" alt=""> </figure>
						<h4>Logistic Plan</h4>
						<p>Consulting</p>
					</a>
				</div>
				
				<div>
					<a href="project-detail.html" title="Certification">
						<figure><img src="img/case_study_thumb_5.jpg" alt=""> </figure>
						<h4>Certification</h4>
						<p>Consulting</p>
					</a>
				</div>
			</div><!--/case_studies -->
        </div><!--/container-->
        
    
    </main><!--/main-->
    
    <div id="newsletter_container">
		<div class="container margin_60">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h3>Subscribe to our Newsletter for latest news.</h3>
					<div id="message-newsletter_2"></div>
					<form method="post" action="assets/newsletter.php" name="newsletter_2" id="newsletter_2" class="form-inline">
						<input name="email_newsletter_2" id="email_newsletter_2" type="email" value="" placeholder="Your Email" class="form-control">
						<button id="submit-newsletter_2" class="button">Subscribe</button>
					</form>
				</div>
			</div>
		</div>
	</div><!-- /newsletter_container -->
    
