	<section class="parallax_window_in short" data-parallax="scroll" data-image-src="img/subheader_in_1.jpg" data-natural-width="1400" data-natural-height="400">
		<div id="sub_content_in">
			<div class="container">
				<h1>Service page 2</h1>
				<p>"Usu habeo equidem sanctus no ex melius"</p>
			</div>
		</div>
	</section><!-- /section -->
 	
    <div id="position">
		<div class="container">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Category</a></li>
				<li>Page active</li>
			</ul>
		</div>
	</div><!-- /position -->
    
    <main>
	<div class="container margin_60_35">
    	<h2 class="main_title"><em></em>Overview</h2>
        <div class="row">
        	<div class="col-sm-6">
            	<div class="box_service_single">
                	<i class="pe-7s-rocket"></i>
					<h3>Business Growth</h3>
                    <p>Lorem ipsum dolor sit amet, no movet simul laoreet pri, aperiri fabulas expetenda ei pro. Sed vero assentior ad, est vide liber viris ne. Mea saperet evertitur intellegebat ei, an labore cetero eos. Quo no facilisis contentiones, enim graeci vim ea, justo graecis ne qui. His tation theophrastus intellegebat ut, hinc fierent nam ea.</p>
              </div>
            </div>
            <div class="col-sm-6">
            	<div class="box_service_single">
                	<i class="pe-7s-target"></i>
                	<h3>Focus on Target</h3>
                    <p>At per vulputate persequeris, ferri mediocrem imperdiet nam in. Docendi dignissim et qui. Sea alia regione repudiare ne, diam posse mel an. Ut stet saperet officiis vel, consetetur sadipscing vituperatoribus no sea. His nihil ignota putant in.</p>
                </div>
            </div>
        </div><!--/row--> 
        <div class="row">
        	<div class="col-sm-6">
            	<div class="box_service_single">
                	<i class="pe-7s-mail-open-file"></i>
					<h3>Monthly Email Report</h3>
                    <p>Illud singulis indoctum ad sed, sed falli aliquip dolorem an. Tempor nonumes torquatos ne nec, an eum case cetero dissentiunt. Alterum bonorum mentitum an mel, eam dictas adipisci ad, omnes civibus sententiae no eos.</p>
              </div>
            </div>
            <div class="col-sm-6">
            	<div class="box_service_single">
                	<i class="pe-7s-graph1"></i>
                	<h3>Marketing Analysis</h3>
                    <p>Ut unum diceret eos, mel cu velit principes, ut quo inani dolorem mediocritatem. Mea in justo posidonium necessitatibus. Augue honestatis vis no, ius quot mazim forensibus in, per sale virtute legimus ne. Mea dicta facilisis eu.</p>
                </div>
            </div>
        </div><!--/row--> 
        
    </div><!--/container-->
    <div class="container-fluid">
        <div class="row video">
            <div class="col-md-6 nopadding">
                <div class="features-bg">
                <iframe src="https://player.vimeo.com/video/6843855?title=0&byline=0&portrait=0&color=ffffff&api=1&player_id=thing-with-videos" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen ></iframe>
                </div>
            </div>
            <div class="col-md-6 nopadding">
                <div class="features-content">
                    <h3>"Makes a difference"</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                    </p>
                    <p>
                      Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                    </p>
                    <p>
                        <a href="#" class=" btn_1">Read more</a>
                    </p>
                </div>
            </div>
        </div>
    </div><!-- /container-fluid  -->
    <div class="bg_content" id="skills">
		<div class="container margin_120_95">
			<div class="row">
				<div class="col-sm-6">
					<div class="content_center">
						<h3><em></em>The strategy</h3>
						<p class="lead">Augue honestatis vis no, ius quot mazim forensibus in, per sale virtute legimus ne.</p>
						<p>Illud singulis indoctum ad sed, sed falli aliquip dolorem an. Tempor nonumes torquatos ne nec, an eum case cetero dissentiunt. Alterum bonorum mentitum an mel, eam dictas adipisci ad, omnes civibus sententiae no eos.</p>
					</div>

				</div>
				<div class="col-sm-5 col-sm-offset-1 add_top_20">
					<div class="barWrapper">
                     <span class="progressText"><B>Marketing Strategy</B></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" >   
                            <span  class="popOver" data-toggle="tooltip" data-placement="top" title="85%"> </span>     
                    </div>
                    </div>
                    </div><!--/bar-->
                    
                    <div class="barWrapper">
                     <span class="progressText"><B>Target success</B></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" >   
                            <span  class="popOver" data-toggle="tooltip" data-placement="top" title="95%"> </span>     
                    </div>
                    </div>
                    </div><!--/bar-->
                    
                     <div class="barWrapper">
                     <span class="progressText"><B>Consumer increase</B></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" >   
                            <span  class="popOver" data-toggle="tooltip" data-placement="top" title="80%"> </span>     
                    </div>
                    </div>
                    </div><!--/bar-->
                    
                    <div class="barWrapper">
                     <span class="progressText"><B>Marketing campaigns</B></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" >   
                            <span  class="popOver" data-toggle="tooltip" data-placement="top" title="70%"> </span>     
                    </div>
                    </div>
                    </div><!--/bar-->
				</div>
			</div><!--/row-->
		</div><!--/container-->
	</div><!--/bg_content-->
      
    <div class="bg_white">
		<div class="container margin_60">
			<div class="row">
				<div class="col-md-7 text-center">
				<img src="img/service_single_1.jpg" alt="" class="img-responsive">
				</div>
				<div class="col-md-5">
					<h3>Diam nonummy nibham liber</h3>
					<ul class="list_ok">
						<li>
							<h4>Suas summo id sed erat erant oporteat</h4>
							<p>Ut unum diceret eos, mel cu velit principes, ut quo inani dolorem mediocritatem. Mea in justo posidonium necessitatibus.</p>
						</li>
						<li>
							<h4>Illud singulis indoctum ad sed</h4>
							<p>Ut unum diceret eos, mel cu velit principes, ut quo inani dolorem mediocritatem. Mea in justo posidonium necessitatibus.</p>
						</li>
						<li>
							<h4>Alterum bonorum mentitum an mel</h4>
							<p>Ut unum diceret eos, mel cu velit principes, ut quo inani dolorem mediocritatem. Mea in justo posidonium necessitatibus.</p>
						</li>
					</ul>

				</div>
			</div><!-- /row  --> 
		</div><!-- /container  --> 
    </div><!-- /bg_white  --> 
    </main><!--/main-->
    
    <div id="newsletter_container">
		<div class="container margin_60">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h3>Subscribe to our Newsletter for latest news.</h3>
					<div id="message-newsletter_2"></div>
					<form method="post" action="assets/newsletter.php" name="newsletter_2" id="newsletter_2" class="form-inline">
						<input name="email_newsletter_2" id="email_newsletter_2" type="email" value="" placeholder="Your Email" class="form-control">
						<button id="submit-newsletter_2" class="button">Subscribe</button>
					</form>
				</div>
			</div>
		</div>
	</div><!-- /newsletter_container -->