<section class="parallax_window_in short" data-parallax="scroll"
	data-image-src="img/pexels-tima-miroshnichenko-5439390.jpg" data-natural-width="1400" data-natural-height="400">
	<div id="sub_content_in">
		<div class="container">
			<h1>Nos services</h1>
			<p>
				<br>
			</p>
		</div>
	</div>
</section><!-- /section -->

{{>home/cards/services}}

<div class="bg_content">
	<div class="container margin_120">
		<h2 class="main_title"><em></em>Placements intérimaires</h2>
		<p>Nous rapprochons les entreprises de la main d'oeuvre dont ils ont besoin.</p>
		<div id="message-analysis"></div>
		<div class="row text-center">
			<a class="btn_1 col-sm-5" href="/offres-emploi">Offres</a>
			<span class="col-sm-2"></span>
			<a class="btn_1 col-sm-5" href="/candidatures">Candidatures</a>
		</div>
	</div>
</div><!-- /newsletter_container -->