<div class="container margin_60_35">
    <h2 class="main_title"><em></em>Découvrez nos services</h2>
    <div class="row">
        <div class="col-sm-4">
            <a class="box_service">
                <i class="pe-7s-map-2"></i>

                <h3>CONCEPTION</h3>
                <p>nous mettons en œuvre un maximum de ressources, d'efforts et de créativité pour répondre à vos
                    besoins et exigences.
                    <ul style="text-align: left;">
                        <li>Plans;</li>
                        <li>Devis;</li>
                        <li>Conceptionn interieur et exterieur.</li>
                    </ul>

                </p>
                {{!-- <p>Nous vous aidons à réaliser vos travaux de construction immobilière.</p> --}}
            </a>
        </div>
        <div class="col-sm-4">
            <a class="box_service">
                <i class="pe-7s-hammer"></i>
                <h3>REALISATION</h3>
                <p>nous réalisons vos exigences.
                </p>
            </a>
        </div>
        <div class="col-sm-4">
            <a class="box_service">
                <i class="pe-7s-home"></i>
                <h3>SUIVIS</h3>
                <p>Nous stigmatison la réalisation de vos exigences.</p>
            </a>
        </div>
    </div>
    <!--/row-->
</div>
{{!-- <div class="container margin_60_35">
    <h2 class="main_title"><em></em>Découvrez nos services</h2>
    <div class="row">
        <div class="col-sm-4">
            <a class="box_service">
                <i class="pe-7s-hammer"></i>
                <h3>Construction</h3>
                <p>Nous vous aidons à réaliser vos travaux de construction immobilière.</p>
            </a>
        </div>
        <div class="col-sm-4">
            <a class="box_service">
                <i class="pe-7s-map-2"></i>
                <h3>Recherche de terrain</h3>
                <p>Nous vous proposons des terrains aux meilleurs prix</p>
            </a>
        </div>
        <div class="col-sm-4">
            <a class="box_service">
                <i class="pe-7s-home"></i>
                <h3>Ventes/Achats immobiliers</h3>
                <p>Sur cette plateforme vous avez la possibilité de vendre ou acheter des biens immobiliers.</p>
            </a>
        </div>
    </div>
    <!--/row-->
</div> --}}